---
---
@use "reset";       // Reset
@use "colors";      // Colors
@use "header";      // Banner and navigation
@use "links";       // Links
@use "tables";      // Tables and horizontal rules
@use "lists";       // Unordered and ordered lists
@use "email";       // Email address (munged)
@use "footnotes";   // Footnotes
@use "sidepic";     // Side picture

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Devanagari&family=Noto+Sans+Arabic&family=Noto+Sans+Bengali&family=Noto+Sans+JP&display=swap");
body {
    /* Text Settings */
    font-size: 16px;
    font-family: "Noto Sans", "Noto Sans JP", "Noto Sans Devanagari", "Noto Sans Arabic", "Noto Sans Bengali", sans-serif;
    font-weight: normal;
    line-height: 1.7;
    color: colors.$text;
    
    /* Content Box */
    min-width: 30em;
    max-width: 50em;
    text-align: left;
    padding: 2em 5em 5em 5em;
}

main {
    /* Headings */
    header, h1, h2 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    
    header {
        font-weight: bold;
        font-size: 1.25em;
    }
    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-style: italic;
    }
    
    /* Main Text */
    p {
        margin-bottom: 0.5em;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }
    

    /* 
    blockquote, .blockquote, div.sourceCode {
        display: block;
        padding-left: 2em;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: colors.$light;
    }
    
    .centerquote {
        padding-left: 4em;
        padding-right: 4em;
    }

    code, div.sourceCode {
        font-family: monospace;
        overflow: auto;
        max-height: 40em;
        @import url("code.css");
    }

    span.blockquote-attribution {
        display:  block;
        text-align: right;
    }

    padding-bottom: 5em;

     */
}
