@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=str-replace("Lobster Two", " ", "+")|str-replace("Noto Sans", " ", "+")');
body {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
  min-width: 30em;
  max-width: 45em;
  text-align: left;
  padding-left: 5em;
  padding-right: 5em; }
  body em {
    font-style: italic; }
  body strong {
    font-weight: bold; }
  body a, body a:visited {
    color: #777;
    text-decoration: none; }
  body a:hover, body a:active, body a.current {
    color: #339999; }
  body blockquote, body .blockquote {
    padding-left: 2em;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #eee; }
  body table tr {
    border: 1px solid #eee; }
  body table th, body table td {
    border: 1px solid #eee;
    padding: 0.5em; }
  body table th {
    background-color: #eee; }

#banner {
  padding-top: 1em; }
  #banner a, #banner a:visited {
    font-size: 2em;
    color: #777;
    font-weight: normal;
    font-family: "Lobster Two", cursive; }
  #banner a:hover, #banner a:active {
    color: #339999; }

.sidepic {
  width: 15em;
  float: right;
  margin-left: 1em; }

#sitenav {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }
  #sitenav ul {
    list-style: none; }
    #sitenav ul li {
      display: inline;
      margin-right: 1em; }

main {
  padding-bottom: 5em; }
  main h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1em; }
    main h1 span.date {
      font-weight: normal; }
  main h2, main article h1 {
    font-weight: bold;
    font-style: normal;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em; }
  main article h2 {
    font-weight: normal;
    font-style: italic; }
  main p {
    margin-bottom: 1em;
    margin-top: 1em; }
  main ul {
    list-style: square;
    padding-left: 2.5em; }
    main ul ul {
      list-style: circle; }
  main ol {
    list-style: decimal;
    padding-left: 2.5em; }
  main .footnoteRef {
    vertical-align: super;
    font-size: 0.6em; }

.email::after {
  content: "coloradocollege.edu"; }

.email::before {
  content: "sagrawal"; }

ul.tags {
  padding-left: 0; }
  ul.tags li {
    display: inline;
    margin-right: 0.4em;
    background-color: #eee;
    padding: 0.1em 0.4em 0.1em 0.4em;
    border-radius: 0.2em; }
  ul.tags li:before {
    content: "#";
    color: #777;
    padding: 0;
    margin: 0; }
