---
title: Blog
permalink: blog/
---

<h1>Recent posts</h1>

<p>Here are some of my most recent posts.</p>

{% include post-lister.html content=site.posts excerpt=true limit=10 %}

<h1>All posts</h1>

<p>Below is a list of all my posts, organized by tags.</p>

{% assign allTags = "" | split: "" %}
{% for tag in site.tags %}
{% assign t = tag | first | strip %}
{% assign allTags = allTags | push: t %}
{% endfor %}
{% include tag-lister.html content=allTags %}

{% for t in allTags %}
<h2 id="{{ t }}">{{ t }}</h2>
{% assign list = site.tags[t] %}
{% include post-lister.html content=list excerpt=true %}

{% endfor %}
