---
title: Blog
permalink: blog/
---

<!--
<h1>Recent posts</h1>

<p>Here are five of my most recently updated posts.</p>

{% include post-lister.html content=site.posts excerpt=true limit=5 %}

-->

<h1>Blog</h1>

{% assign allTags = "" | split: "" %}
{% for tag in site.tags %}
{% assign t = tag | first | strip %}
{% assign allTags = allTags | push: t %}
{% endfor %}
{% assign allTags = allTags | sort %}
{% include tag-lister.html content=allTags %}

{% for t in allTags %}
<h2 id="{{ t }}">{{ t }}</h2>
{% assign list = site.tags[t] %}
{% include post-lister.html content=list excerpt=true %}

{% endfor %}
