---
title: Reading
---

{% assign heart = "♡" %}

<p>In 2011, a few months before I started graduate school,
I started trying to keep a record of all the books I've read.
The result is the following list.
It's incomplete because I often didn't remember to record, but it is what it is.
Books marked with a {{ heart }} are those I enjoyed reading a lot. </p>

<table id="booklist">
    <col style="width:01%;">
    <col style="width:29%;">
    <col style="width:44%;">
    <col style="width:16%;">
{% for book in site.data.read %}
<tr>
    <td style="text-align: center;">{% if book.love %}{{ heart }}{% endif %}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.title }}</td>
    <td style="text-align: center;">{{ book.date }}</td>
</tr>
{% endfor %}
</table>
