All papers at <a href="https://arxiv.org/a/agrawal_s_1">arXiv.org/a/agrawal_s_1</a>

<ul>
<li>From category $\mathcal{O}^\infty$ to locally analytic representations. With <a href="http://pages.iu.edu/~mstrauch/">Matthias Strauch</a>. <a href="https://arxiv.org/abs/2011.12370">arXiv:2011:12370</a>.</li>
<li>Deformations of overconvergent isocrystals on the projective line.  <a href="https://arxiv.org/abs/1710.03404">arXiv:1710.03404</a>. <a href="https://doi.org/10.1016/j.jnt.2019.11.013">doi:10.1016/j.jnt.2019.11.013</a>.</li>
</ul>
