<ul>
<li>From category $\mathcal{O}^\infty$ to locally analytic representations. With <a href="http://pages.iu.edu/~mstrauch/">Matthias Strauch</a>. <a href="https://arxiv.org/abs/2011.12370">arXiv:2011.12370</a> (2020). <a href="https://doi.org/10.1016/j.jalgebra.2021.09.032">doi:10.1016/j.jalgebra.2021.09.032</a> (2022). <a href="/assets/misc/o-infty-errata.pdf">Errata</a>.</li>
<li>Deformations of overconvergent isocrystals on the projective line. <a href="https://arxiv.org/abs/1710.03404">arXiv:1710.03404</a> (2017). <a href="https://doi.org/10.1016/j.jnt.2019.11.013">doi:10.1016/j.jnt.2019.11.013</a> (2022).</li>
</ul>
