<!doctype html>
<html>

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" />
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<title>
{% if page.bannertext %}{{ page.bannertext }}{% else %}Shishir Agrawal{% endif %} — {{ page.title }}
</title>

</head>

<body>

{% unless page.nobanner %}
<header id="banner">
    <a href="{{ site.baseurl }}/{% if page.bannerlink %}{{ page.bannerlink }}{% endif %}">{% if page.bannertext %}{{ page.bannertext }}{% else %}Shishir Agrawal{% endif %}</a>
</header>
{% endunless %}

{% unless page.nonav %}
<nav id="sitenav">
<ul id="pages">
    {% for p in site.data.navbar %}{% for q in site.html_pages %}{% if q.permalink == p %}<li><a href="{{ site.baseurl }}/{{ q.permalink }}" {% if page.permalink == p %} class="current"{% endif %}>{{ q.title }}</a></li>
    {% endif %}{% endfor %}{% endfor %}
</ul>
</nav>
{% endunless %}

<main>
{{ content }}
</main>


</body>

</html>
